#!/usr/bin/env bash

openstack overcloud container image prepare \
  --namespace=registry.access.redhat.com/rhosp{{ versions.rhosp }} \
  --push-destination={{ rhosp_director.provisioning_ip | ipaddr('address') }}:8787 \
  --prefix=openstack- \
{% for services in rhosp_director.optional_docker_services %}
  -e {{ services }} \
{% endfor %}
{% if rhosp_director.ceph_enabled | bool %}
{% if rhosp_director.ceph_namespace != None %}
  --set ceph_namespace={{ rhosp_director.ceph_namespace }} \
{% endif %}
{% if rhosp_director.ceph_image != None %}
  --set ceph_image={{ rhosp_director.ceph_image }} \
{% endif %}
{% endif %}
  --tag-from-label {version}-{release} \
  --output-env-file=/home/stack/templates/overcloud_images.yaml \
  --output-images-file /home/stack/local_registry_images.yaml
