#!/usr/bin/env bash

openstack overcloud container image prepare \
  --namespace={{ director_upstream_registry }}/rhosp{{ versions.rhosp }} \
  --push-destination={{ director_provisioning_ip | ipaddr('address') }}:8787 \
  --prefix=openstack- \
{% for services in director_optional_docker_services %}
  -e {{ services }} \
{% endfor %}
{% if director_ceph_enabled | bool %}
{% if director_ceph_namespace != None %}
  --set ceph_namespace={{ director_ceph_namespace }} \
{% endif %}
{% if director_ceph_image != None %}
  --set ceph_image={{ director_ceph_image }} \
{% endif %}
{% endif %}
  --tag-from-label latest \
  --output-env-file=/home/stack/templates/overcloud_images.yaml \
  --output-images-file /home/stack/local_registry_images.yaml
