{
  "arch": "x86_64",
  "nodes": [
    {% for node in overcloud_nodes %}
    {
      "name": "{{ node.name }}",
      "pm_addr": "{{ node.pm_addr }}",
      "pm_password": "{{ node.pm_pwd }}",
      "pm_type": "{{ node.pm_driver }}",
      "pm_user": "{{ node.pm_user }}",
      "capabilities": "profile:{{ node.profile }}"
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}
