# System authorization information
auth --enableshadow --passalgo=sha512
# Root password
rootpw --plaintext redhat

# install
cmdline
reboot
# Run the Setup Agent on first boot
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
#network  --bootproto=dhcp --device=enp0s25 --ipv6=disable --activate
network  --bootproto=dhcp --device=enp0s20u1 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=enp0s20u2 --onboot=off --ipv6=auto

# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc

### DISK INFO ###
ignoredisk --only-use=sda
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda

# Partition clearing information
clearpart --all --initlabel --drives=sda

# Disk partitioning information
part pv.155 --fstype="lvmpv" --ondisk=sda --size=10240 --grow
volgroup rhel --pesize=4096 pv.155
part /boot --fstype="xfs" --size=1024 --ondisk=sda
part /boot/efi --fstype="efi" --ondisk=sda --size=1024 --fsoptions="umask=0077,shortname=winnt"
logvol /  --fstype="xfs" --size=8192 --name=root --vgname=rhel --grow
logvol swap  --fstype="swap" --size=16064 --name=swap --vgname=rhel

%packages --nobase --ignoremissing
@base
@core
wget
mlocate
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post --nochroot --log=/mnt/sysimage/root/ks-post-nochroot.log
mkdir -p /mnt/sysimage/opt/repos
cp -rPf /run/install/repo/rhel-7-server-ansible-2.5-rpms /mnt/sysimage/opt/repos
cp -rPf /run/install/repo/Packages /mnt/sysimage/opt/repos/rhel-7-server-rpms
%end

%post --log=/root/admin-ks.log
echo "NOTE: Adding repo - rhel-7-server-ansible-2.5-rpms"
cat << EOF > /etc/yum.repos.d/rhel-7-server-ansible-2.5-rpms.repo
[rhel-7-server-ansible-2.5-rpms]
name=rhel-7-server-ansible-2.5-rpms
baseurl=file:///opt/repos/rhel-7-server-ansible-2.5-rpms/Packages/
enabled=0
gpgcheck=0
EOF

echo "NOTE: Adding repo - rhel-7-server-rpms"
cat << EOF > /etc/yum.repos.d/rhel-7-server-rpms.repo
[rhel-7-server-rpms]
name=rhel-7-server-rpms
baseurl=file:///opt/repos/rhel-7-server-rpms/
enabled=0
gpgcheck=0
EOF

#wget http://172.16.2.10:8888/repos/local.repo --directory-prefix=/etc/yum.repos.d/
#cp /repos/local.repo /etc/yum.repos.d/
yum-config-manager --enable rhel-7-server-ansible-2.5-rpms
yum-config-manager --enable rhel-7-server-rpms
yum -y update
yum -y install ansible git screen python-netaddr
yum-config-manager --disable rhel-7-server-ansible-2.5-rpms
yum-config-manager --disable rhel-7-server-rpms

cat << EOF1 > /etc/sysconfig/network-scripts/ifcfg-bond0
DEVICE=bond0
TYPE=Bond
BONDING_MASTER=yes
IPV6INIT=no
NAME=bond0
ONBOOT=yes
BONDING_OPTS="mode=4 miimon=100 updelay=1000 lacp_rate=1"
BRIDGE=br1
ZONE=public
EOF1

cat << EOF2 > /etc/sysconfig/network-scripts/ifcfg-enp0s20u1
TYPE="Ethernet"
BOOTPROTO="none"
NAME="enp0s20u1"
DEVICE="enp0s20u1"
ONBOOT="yes"
MASTER=bond0
SLAVE=yes
ZONE=public
EOF2

cat << EOF3 > /etc/sysconfig/network-scripts/ifcfg-enp0s20u2
TYPE="Ethernet"
BOOTPROTO="none"
NAME="enp0s20u2"
DEVICE="enp0s20u2"
ONBOOT="yes"
MASTER=bond0
SLAVE=yes
ZONE=public
EOF3

cat << EOF4 > /etc/sysconfig/network-scripts/ifcfg-br1
DEVICE=br1
TYPE=Bridge
BOOTPROTO=static
ONBOOT=yes
DEFROUTE=yes
IPADDR=192.168.0.3
PREFIX=23
GATEWAY=192.168.0.1
DNS1=8.8.8.8
ZONE=public
EOF4

cat << EOF5 > /etc/sysconfig/network-scripts/ifcfg-br2
DEVICE=br2
TYPE=Bridge
BOOTPROTO=static
ONBOOT=yes
DEFROUTE=no
IPADDR=192.168.2.3
PREFIX=24
ZONE=public
EOF5

cat << EOF6 > /etc/sysconfig/network-scripts/ifcfg-bond0.2
DEVICE=bond0.2
ONBOOT=yes
BOOTPROTO=none
VLAN=yes
BRIDGE=br2
ZONE=public
EOF6

ssh-keygen -t rsa -q -f "/root/.ssh/id_rsa" -N ""

echo 'alias bond0 bonding' >> /etc/modprobe.conf

%end
